[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphrag = "*"
langchain-core = "*"
graphiti-core = {extras = ["google-genai"], version = "*"}

[dev-packages]

[requires]
python_version = "3.11"
